eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      default-zone: http://localhost:8761/eureka/
    instance:
      hostname: localhost

rabbitmq:
  queue:
    name: payment_queue
  exchange:
    name: payment_exchange
  routing:
    key: payment_key
